@font-face { /* for non-IE */
font-family:FishyFont;
src:url(http://:/) format("No-IE-404"),url(fishy.ttf) format("truetype");
}

body {
  background-color: #eaeaea;
}

main, .banner {
    padding-left: 300px;
}

  @media only screen and (max-width : 992px) {
    main, .banner {
      padding-left: 0;
  }
}

.wrapper {
    width: 100%;
    overflow: hidden;
}

.containerBanner {
    width: 100%;
    margin: 0 auto;
}

.banner-img {
		position: absolute;
		z-index: -1;
    width: 100%;
}

#inset {
	padding: 3.4%;
	text-align: center;
	margin: 0%;
	font-family: "Roboto", Black;
	font-size: 5vmax;
	text-transform: uppercase;
	color: #EDEDED;
	text-shadow: 0px 2px 3px #111;
}

img.blur {
	-webkit-filter: blur(5px);
	filter: blur(5px);
}

.text {
  font-size: 1.2em;
}

.welkom {
  margin-top: 5vh;
  font-size: 1.5em;
}

div.row {
  margin-left: 2vmax;
}

#sendButton {
  margin-left: 5vmax;
}

/* Flexbox */

.flexbox-padding {
  margin: 0 auto;
  max-width: 1280px;
  width: 100%;
}

@media only screen and (min-width: 601px) {
  .flexbox-padding {
    width: 95%;
  }
}

@media only screen and (min-width: 993px) {
  .flexbox-padding {
    width: 80%;
  }
}

.flexbox-padding .row {
  margin-left: -0.75rem;
  margin-right: -0.75rem;
}

@import "compass/css3";

.flex-container {
  padding: 0;
  margin: 0;
  list-style: none;

  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;

  -webkit-flex-flow: row wrap;
  justify-content: center;
  align-content: center;
  width: 100%;
}

.flex-item {
  background: tomato;
  padding: 0.1%;
  width: 3.5em;
  height: 3.5em;
  margin: 3%;

  line-height: 12vmax;
  color: white;
  font-weight: bold;
  font-size: 5vmax;
  text-align: center;
}

/* Horizontal Charts */

.bar {
  background-color: #eee;
  width: 100%;
  height: 30px;
  margin-bottom: 40px;
  }

 .chartsh2 {
  font-weight: 600;
  text-transform: uppercase;
  font-size: 15px;
  color: #566366;
  margin: 5vh 0 20px 0;
}

.bar-inner {
  background-color: #2ecc71;
  width: 0%;
  height: 100%;
  position: relative;
  transition: width 3000ms linear;
}

.bar-inner:after {
  position: absolute;
  right: 2.5%;
  content: attr(data-percent);
  color: #fff;
  font-size: 18px;
  font-weight: 700;
  line-height: 30px;
}

button.accordion {
    background-color: #ddd;
    color: #444;
    cursor: pointer;
    padding: 18px;
    width: 100%;
    border: none;
    text-align: left;
    outline: none;
    font-size: 20px;
    transition: 0.4s;
    margin-top: 2vh;
}

button.accordion.active, button.accordion:hover {
    background-color: #ccc;
}

button.accordion:after {
    content: '\02795';
    font-size: 13px;
    color: #777;
    float: right;
    margin-left: 5px;
}

button.accordion.active:after {
    content: "\2796";
}

div.panel {
    padding: 0 18px;
    background-color: white;
    max-height: 0;
    overflow: hidden;
    transition: 0.6s ease-in-out;
    opacity: 0;
}

div.panel.show {
    opacity: 1;
    max-height: 500px;
}

code { 
    color: #fff;
}

pre {
    white-space: pre-wrap;
    background: #444;
    border-radius: 10px;
}