@font-face { /* for non-IE */
font-family:FishyFont;
src:url(http://:/) format("No-IE-404"),url(fishy.ttf) format("truetype");
}

::-webkit-scrollbar {
    display: none;
}

body {
  background-color: #eaeaea;
}

.wrapper {
    width: 100%;
    overflow: hidden;
}

.containerBanner {
    width: 100%;
    margin: 0 auto;
}

.banner-img {
		position: absolute;
		z-index: -1;
    width: 100%;
}

#inset {
	padding: 3.4%;
	text-align: center;
	margin: 0%;
	font-family: "Roboto", Black;
	font-size: 5vmax;
	text-transform: uppercase;
	color: #EDEDED;
	text-shadow: 0px 2px 3px #111;
}

img.blur {
	-webkit-filter: blur(5px);
	filter: blur(5px);
}

#projects {
  color: white;
  text-decoration: underline;
}

.text {
  font-size: 1.2em;
  color: #000;
}

#itabg-img {
  margin-bottom: 10em;
}

.heading3 {
  color: #111;
  font-family: 'Helvetica Neue', sans-serif;
  font-size: 6em;
  letter-spacing: -1px;
  line-height: 1;
  margin-bottom: 0.3em;
}

.heading {
  color: #111;
  font-family: 'Helvetica Neue', sans-serif;
  font-size: 8em;
  font-weight: bold;
  letter-spacing: -1px;
  line-height: 1;
  text-align: center;
  margin-bottom: 0.3em;
}

.heading2 {
  color: #111;
  font-family: 'Helvetica Neue', sans-serif;
  font-size: 3em;
  font-weight: bold;
  letter-spacing: -1px;
  line-height: 1;
  text-align: center;
  margin-bottom: 1em;
}

.welkom {
  margin-top: 5vh;
  font-size: 1.5em;
}

div.row {
  margin-left: 2vmax;
}

#sendButton {
  margin-left: 5vmax;
}

#itvideo {
  margin-top: 2vh;
  margin-bottom: 5vh;
  width: 66.6vw;
  height: 62vh;
}

.itvideo {
  margin-top: 5vh;
  margin-bottom: 10vh;
  width: 66.6vw;
  height: 62vh;
}

.modalBtn {
  display: block;
  margin: 2em;
}

#collapsfaq {
  margin-bottom: 4em;
}

.evaluation {
  margin-left: 25%;
  margin-top: 2vh;
  width: 50%;
}

/* Flexbox */

.flexbox-padding {
  margin: 0 auto;
  max-width: 1280px;
  width: 100%;
}

@media only screen and (min-width: 601px) {
  .flexbox-padding {
    width: 95%;
  }
}

@media only screen and (min-width: 993px) {
  .flexbox-padding {
    width: 80%;
  }
}

.flexbox-padding .row {
  margin-left: -0.75rem;
  margin-right: -0.75rem;
}

@import "compass/css3";

.flex-container {
  padding: 0;
  margin: 0;
  list-style: none;

  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;

  -webkit-flex-flow: row wrap;
  justify-content: center;
  align-content: center;
  width: 100%;
}

.flex-item {
  background: tomato;
  padding: 0.1%;
  width: 3.5em;
  height: 3.5em;
  margin: 3%;

  line-height: 12vmax;
  color: white;
  font-weight: bold;
  font-size: 5vmax;
  text-align: center;
}

.tasks {
  font-size: 0.4em;
  color: #eddeb1;
}

code {
    color: #fff;
}

pre {
    white-space: pre-wrap;
    background: #444;
    border-radius: 10px;
}

/* Pie Charts */

@keyframes bake-pie {
	from {
		transform: rotate(0deg) translate3d(0, 0, 0);
	}
}

.pie-chart {
	font-family: "Open Sans", Arial;
}

.pie-chart--wrapper {
	width: 400px;
	margin: 30px auto;
	text-align: center;
}

.pie-chart__pie, .pie-chart__legend {
	display: inline-block;
	vertical-align: top;
}

.pie-chart__pie {
	position: relative;
	height: 200px;
	width: 200px;
	margin: 10px auto 35px;
}

.pie-chart__pie::before {
	content: "";
	display: block;
	position: absolute;
	z-index: 1;
	width: 100px;
	height: 100px;
	background: #546e7a;
	border-radius: 50%;
	top: 50px;
	left: 50px;
}

.pie-chart__pie::after {
	content: "";
	display: block;
	width: 120px;
	height: 2px;
	background: rgba(0, 0, 0, 0.1);
	border-radius: 50%;
	box-shadow: 0 0 3px 4px rgba(0, 0, 0, 0.1);
	margin: 220px auto;
}

.slice {
	position: absolute;
	width: 200px;
	height: 200px;
	clip: rect(0px, 200px, 200px, 100px);
	animation: bake-pie 1s;
}

.slice span {
	display: block;
	position: absolute;
	top: 0;
	left: 0;
	background-color: black;
	width: 200px;
	height: 200px;
	border-radius: 50%;
	clip: rect(0px, 200px, 200px, 100px);
}

.pie-chart__legend {
	display: block;
	list-style-type: none;
	padding: 0;
	margin: 0 auto;
	padding: 0.75em 0.75em 0.05em;
	font-size: 13px;
	text-align: left;
	width: 65%;
}

.pie-chart__legend li {
	height: 1.25em;
	margin-bottom: 0.7em;
	padding-left: 0.5em;
	border-left: 1.25em solid black;
}

.pie-chart__legend em {
	font-style: normal;
}

.pie-chart__legend span {
	float: right;
}

.pie-charts {
	display: flex;
	flex-direction: row;
}

@media (max-width: 500px) {
	.pie-charts {
		flex-direction: column;
	}
}
